$gray : #cbd0d8;
$blue : #acc6ef;

.jumbotron {
  background-image: url("/images/bannerNurse.jpg");
}

.center {
  text-align: center;
}


body {
  background-color: $gray;
  #doctorResults .col-md-3{
    padding-top: 5px;
    border-style: inset;
    background: $blue;
    height: 358px;
    width: 292.5px;
  }
}
